{% extends 'app/main.html' %}
{% load static %}

{% block mycontent %}
<div class="output">
    {{device.value}}
</div>
<div class="container">

    <div class="device_info line_container jc_sp-btw">

        <div class="device border_field list">
            <div class="device_name middle_text">{{device.name}}</div>
            <img class="svg" src="{% static 'app/svg/chevron-down.svg' %}"/>
            <div class="devices" style="position: absolute; display: none;
                                        justify-content: center; flex-direction:column;">
                <a href="{% url 'home' %}">home</a>
                <a href="{% url 'Keithley_K6220A' %}">Keithley_K6220A</a>
                <a href="{% url 'home' %}">home</a>
            </div>          
        </div>

        <div class="middle_text">
            {% block connectform %}
            <form id="Connect" method="post" action="">
            {% endblock %}
                {% csrf_token %}
                <input class="button middle_text" type="submit" form="Connect" value="Подключить"/>
            </form>
        </div>

    </div>

    <div class="group_container line_container jc_sp-btw">
        
        {% block amper_form %}
        <form id="Send_ampers" method="post" action="">
        {% endblock %}
            {% csrf_token %}
            <div class="group">
                <div class="thin_text">Ток</div>
                
                <div class="interact">
                    <div class="line_container middle_text">
                        <input class="border_field small middle_text" type="number" id="ampers" 
                            name="ampers" placeholder="{{ device.amper_value}}">
                        <div class="border_field small list">
                            <div class="middle_text">mA</div>
                            <img class="svg" src="{% static 'app/svg/chevron-down.svg' %}"/>
                        </div>
                    </div>
                    <div class="line_container">
                        <input class="button middle_text" type="submit" 
                                form="Send_ampers" value="Отправить"/>
                    </div> 
                </div>   
            </div>
        </form>
        
        {% block volts_form %}
        <form id="Send_volts" method="post" action="">
        {% endblock %}
            {% csrf_token %}
            <div class="group">
                <div class="thin_text">Предельное напряжение</div>
                <div class="interact">
                    <div class="line_container">
                        <input class="border_field small middle_text" type="number" id="volts" 
                            name="volts" placeholder="{{ device.volt_value }}">
                        <div class="border_field small list">
                            <div class="middle_text">mV</div>
                            <img class="svg" src="{% static 'app/svg/chevron-down.svg' %}"/>
                        </div>
                    </div>
                    <div class="line_container">
                            <input class="button middle_text" type="submit" 
                                    form="Send_volts" value="Отправить"/>
                    </div> 
                </div>   
            </div>
        </form>

    </div>
</div>
{% endblock %}