{% extends 'app/main.html' %}
{% load static %}

{% block mycontent %}
<div class="output">
    {{device.value}}
</div>
<div class="container">

    <div class="device_info line_container jc_center">

        <div class="device border_field list" onclick="device_tag_open(this)">
            <div class="device_name middle_text">{{device.name_replace}}</div>
            <img id = "svg_1" class="svg" src="{% static 'app/svg/chevron-back-outline.svg' %}" />
            <div id="devices">
                <a class="border_field middle_text" href="{% url 'Keithley_K6220A' %}">Keithley K6220A</a>
                <a class="border_field middle_text" href="{% url 'Yokogawa_GS210' %}">Yokogawa GS210</a>
                <a class="border_field middle_text" href="{% url 'home' %}">Not selected</a>
            </div>          
        </div>

        <div class="middle_text">
            {% if device.name != 'Not selected' and device.status == 'connected' %}
                <form id="Connect" method="post" action="/{{device.name}}/connect/">
            {% else %}
                <form id="Connect" method="post" action="">
            {% endif %}
                {% csrf_token %}
                <button type="submit" class="power-button">
                {% if device.current_on == 1 %}
                    <svg xmlns="http://www.w3.org/2000/svg" class="on" viewBox="0 0 512 512">
                        <title>Power</title>
                        <path d="M378 108a191.41 191.41 0 0170 148c0 106-86 192-192 192S64 362 64 256a192 192 0 0169-148M256 64v192" 
                            fill="none" width="3px" stroke="currentColor" stroke-linecap="round" 
                            stroke-linejoin="round" stroke-width="62"/>
                    </svg>
                    <div class="circle on"></div>
                {% else %}
                    <svg xmlns="http://www.w3.org/2000/svg" class="off" viewBox="0 0 512 512">
                        <title>Power</title>
                        <path d="M378 108a191.41 191.41 0 0170 148c0 106-86 192-192 192S64 362 64 256a192 192 0 0169-148M256 64v192" 
                            fill="none" stroke="currentColor" stroke-linecap="round" 
                            stroke-linejoin="round" stroke-width="62"/>
                    </svg>
                    <div class="circle off"></div>
                {% endif %}
                </button>
            </form>
        </div>

    </div>

    <div class="group_container line_container jc_sp-btw">
        
        {% block amper_form %}
        <form id="Send_ampers" method="post" action="">
        {% endblock %}
        <!-- {% if device.name != 'Not selected' and device.status == 'connected' %}
        <form id="Send_ampers" method="post" action="update_a/">
        {% else %}
        <form id="Send_ampers" method="post" action="">
        {% endif %} -->

            {% csrf_token %}
            <div class="group">
                <div class="thin_text">Ток</div>
                
                <div class="interact">
                    <div class="line_container middle_text">
                        <input class="border_field small middle_text" type="number" id="ampers" 
                            name="ampers" value="{{ device.amper_value }}" step="0.01">
                        <select name="ampers_type" class="border_field small list middle_text" selected="uA">
                            <option value="mA" {% if device.unit_a == 'mA' %} selected {% endif %}>mA</option>
                            <option value="uA" {% if device.unit_a == 'uA' %} selected {% endif %}>uA</option>
                        </select>
                    </div>
                    <div class="line_container">
                        <input class="button middle_text" type="submit" 
                                form="Send_ampers" value="Отправить"/>
                    </div> 
                </div>   
            </div>
        </form>
        
        {% block volts_form %}
        <form id="Send_volts" method="post" action="">
        {% endblock %}
        <!-- {% if device.name != 'Not selected' and device.status == 'connected' %}
        <form id="Send_volts" method="post" action="update_v/">
        {% else %}
        <form id="Send_volts" method="post" action="">
        {% endif %} -->
            {% csrf_token %}
            <div class="group">
                <div class="thin_text">Предельное напряжение</div>
                <div class="interact">
                    <div class="line_container">
                        <input class="border_field small middle_text" type="number" id="volts" 
                            name="volts" value="{{ device.volt_value }}" step="0.01">
                        <select name="volts_type" class="border_field small list middle_text">
                            <option value="V" {% if device.unit_v == 'V' %} selected {% endif %}>V</option>
                            <option value="mV" {% if device.unit_v == 'mV' %} selected {% endif %}>mV</option>
                        </select>
                    </div>
                    <div class="line_container">
                            <input class="button middle_text" type="submit" 
                                    form="Send_volts" value="Отправить"/>
                    </div> 
                </div>   
            </div>
        </form>

    </div>
</div>
{% endblock %}