{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' href="{% static 'app/css/styles.css' %}"/>
    <title>Device</title>
</head>
<body>
    <nav>
        <ul class="navbar middle_text line_container jc_sp-btw">
            <li>
                <div class="logo">
                    <img src="{% static 'app/img/FMN_logo.PNG' %}" />
                    <p>FMN lab</p>
                </div>
            </li>
            <li> 
                <div class="status {{device.status}} border_field">Status: {{device.status}}</div>
            </li>
        </ul>
    </nav>
    <main>
    {% block mycontent %}
    {% endblock %}
    </main>
</body>
</html>
